body{
  margin:0;
  background:#f4f6f9;
  font-family: "Segoe UI", sans-serif;
}

.payslip-page{
  padding:40px;
}

.print-area{
  display:flex;
  justify-content:flex-end;
  margin-bottom:15px;
}

.print-btn{
  background:#4f46e5;
  color:white;
  border:none;
  padding:8px 16px;
  border-radius:6px;
  cursor:pointer;
}

.payslip-card{
  background:white;
  padding:40px;
  border-radius:10px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

/* company header */

.company-header{
  text-align:center;
}

.company-header h2{
  margin:0;
  letter-spacing:2px;
}

.company-header p{
  color:#6b7280;
  margin:5px 0;
}

.company-header h3{
  margin-top:10px;
}

/* employee info */

.employee-info{
  display:flex;
  justify-content:space-between;
  margin:30px 0;
}

.employee-info p{
  margin:6px 0;
}

/* salary table */

.salary-table{
  display:grid;
  grid-template-columns:1fr 1fr;
  border:1px solid #e5e7eb;
}

.table-header{
  background:#f3f4f6;
  padding:12px;
  font-weight:600;
}

.row{
  display:flex;
  justify-content:space-between;
  padding:12px;
  border-top:1px solid #e5e7eb;
}

.total-row{
  display:flex;
  justify-content:space-between;
  padding:12px;
  font-weight:600;
  border-top:1px solid #e5e7eb;
}

/* net salary */

.net-salary{
  margin-top:25px;
  padding:18px;
  background:#eef2ff;
  border-radius:8px;
  display:flex;
  justify-content:space-between;
  font-size:18px;
}

/* signatures */

.signature-section{
  margin-top:50px;
  display:flex;
  justify-content:space-between;
}

.signature{
  text-align:center;
}

.line{
  width:200px;
  border-bottom:1px solid #000;
  margin-bottom:6px;
}


@media print {
  body * {
    visibility: hidden;
  }

  .payslip-card,
  .payslip-card * {
    visibility: visible;
  }

  .payslip-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}